.mfp-bag .mfp-container{
	max-width: 700px;
	margin: 0 0 0 auto;
	padding: 0;
	height: 100%;
	overflow: hidden !important;
}

.mfp-bag .mfp-content{
	border-radius: 0;
	height: 100%;
}

.mfp-bag.mfp-wrap{
	min-height: 100vh;
	height: 100%;
}

.bag-modal{
	padding: 35px 48px;
	@media (max-width: 600px){
		padding: 20px 15px;
	}
	&__products{
		margin-top: 65px;
	}
	&__products-title{
		display: grid;
		grid-template-columns: 90px 1fr 80px 80px;
		grid-gap: 21px;
		justify-items: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #EAEAEA;
		h4{
			font-size: 1rem;
			font-family: 'Campton', sans-serif;
		}
		@media (max-width: $md3+px){
			grid-template-columns: 60px 1fr 60px 60px;
			grid-gap: 10px;
			h4{
				font-size: 0.875rem;
			}
		}
	}
	&__products-item-wrapper{
		height: 40vh;
		overflow: auto;
	}
	&__products-item{
		display: grid;
		grid-template-columns: 90px 1fr 80px 80px;
		grid-gap: 21px;
		align-items: center;
		margin-top: 20px;
		background: #FAFAFA;
		:nth-child(3){
			text-align: center;
		}
		:nth-child(4){
			text-align: center;
		}
		p{
			max-width: 150px;
			color: #3D3D3D;
			font-size: 0.875rem;
			line-height: 130%;
			font-weight: 500;
		}
		@media (max-width: $md3+px){
			grid-template-columns: 60px 1fr 60px 60px;
			grid-gap: 10px;
		}
	}
	&__item-image{
		padding: 15px 20px;
		background-color: #f4f1ef;
		width: 100%;
		display: flex;
		justify-content: center;
		@media (max-width: $md3+px){
			padding: 10px;
		}
		img{
			max-width: 40px;
		}
	}
	.secound-item{
		background-color: #d3dddc;
	}
	&__title{
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2{
			display: block;
			text-align: center;
			font-size: 1.375rem;
			color: #636363;
			font-weight: 500;
		}
		img{
			max-width: 26px;
			max-height: 26px;
		}
		.testimonials__modal-close{
			position: initial;
		}
	}
	&__taxes{
		margin-top: 16px;
		display: flex;
		justify-content: space-between;
		p{
			font-size: 0.875rem;
			font-weight: 500;
		}
	}
	&__price{
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		p{
			color: #56685F;
			font-size: 1.125rem;
			font-weight: 500;	
		}
	}
	&__button-wrapper{
		display: flex;
		justify-content: space-around;
		margin-top: 200px;
		@media (max-width: 600px){
			display: block;
			margin-top: 100px;
		}
	}
	&__button-brown{
		background-color: #B79172;
		width: 100%;
		padding: 21px 37px;
		text-align: center;
		margin-right: 15px;
		font-size: 1.125rem;
		@media (max-width: 600px){
			margin-right: 0;
			margin-bottom: 12px;
		}
		&:hover{
			color: #B79172;
		}
	}
	&__button{
		width: 100%;
		padding: 21px 37px;
		text-align: center;
		font-size: 1.125rem;
	}
}

.mfp-move-horizontal.mfp-bag{
	overflow: hidden !important;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
			transform: translateX(50%); }
    
  .mfp-move-horizontal.mfp-ready.mfp-bag{
	opacity: 1;
	-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
			transform: translateX(0); 
        }
  
  .mfp-move-horizontal.mfp-removing.mfp-bag{
	-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
			transform: translateX(50%);
	opacity: 0; 
}

