@mixin font($f-name, $f-style, $f-weight, $f-url){
    @font-face{
      font-family: $f-name;
      font-style: $f-style;
      font-weight: $f-weight;
      src: url($f-url) format('woff2')}}
  
  
@include font('Campton', normal, 700, '../fonts/campton-bold.woff2');

@mixin font($f-name, $f-style, $f-weight, $f-url){
    @font-face{
      font-family: $f-name;
      font-style: $f-style;
      font-weight: $f-weight;
      src: url($f-url) format('woff2')}}
  
  
@include font('Campton', normal, 400, '../fonts/campton-light.woff2');

@mixin font($f-name, $f-style, $f-weight, $f-url){
    @font-face{
      font-family: $f-name;
      font-style: $f-style;
      font-weight: $f-weight;
      src: url($f-url) format('woff2')}}
  
  
@include font('IntroScript', normal, 900, '../fonts/intro-script-black.woff2');