.placeholder{
	position: absolute;
	color: #3D3D3D;
	font-size: 0.875rem;
	transition: .3s ease all;
	padding: 8px;
	font-family: 'Campton', sans-serif;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	background-color: #d3dddc;
	line-height: initial;
}

.input-wrapper{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	gap: 32px 14px;
	max-width: 738px;
	margin: 58px auto 0 auto;
	@media (max-width: $md3+px){
		grid-template-columns: repeat(1, 1fr);
		margin-top: 28px;
		grid-gap: 20px;	
	}
}

.form-input-wrapper{
	max-width: 100%;
	width: 100%;
	margin-top: 35px;
}

.label{
	position: relative;
}

.input{
	padding: 16px 22px;
	border: 1px solid #AEAEAE;
	border-radius: 25px;
	background-color: transparent;
	width: 100%;
	font-weight: 500;
	color: #3D3D3D !important;
}
.input:valid + .placeholder{
	top: 0;
	left: 10px;
}
.input:focus + .placeholder{
	top: 0;
	left: 10px;
}
.textarea-wrapper{
	grid-column: 1/3;
	height: 150px;
	position: relative;
	transition: .3s ease all;
	@media (max-width: $md3+px){
		grid-column: initial;
	}
}
.textarea-placeholder{
	position: absolute;
	font-size: 0.875rem;
	transition: .3s ease all;
	padding: 8px;
	font-family: 'Campton', sans-serif;
	margin-top: 10px;
	left: 10px;
	line-height: initial;
	color: #3d3d3d;
}
.textarea{
	width: 100%;
	resize: none;
	height: 100%;
	border: 1px solid #AEAEAE;
	border-radius: 25px;
	background-color: transparent;
	padding: 16px 22px;
	transition: .3s ease all;
}
.textarea:valid + .textarea-placeholder{
	transform: translateY(-80%);
	left: 10px;
	background-color: #d3dddc;
}
.textarea:focus + .textarea-placeholder{
	transform: translateY(-80%);
	left: 10px;
	background-color: #d3dddc;
}

.textarea:valid + .white-placeholder{
	background-color: #ffffff;
}
.textarea:focus + .white-placeholder{
	background-color: #ffffff;
}

.input:valid + .white-placeholder{
	background-color: #ffffff;
}

.input:focus + .white-placeholder{
	background-color: #ffffff;
}

.white-placeholder{
	background-color: transparent;
}

select{
	option{
		
	}
}
