//Header
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $headerHeight;
	a{
		transition: .3s ease all;
		&:hover{
			color: #B79172;
		}
	}
	&__mobile-link{
		display: none;
		@media (max-width: $md3+px){
			display: block;
		}
	}
	&__menu-burger{
		display: flex;
		position: relative;
		li{
			margin-right: 32px;
			padding: 10px 0;
			&:nth-child(3){
				margin: 0;
			}
		}
		a{
			color: $text;
			display: inline-block;
			font-size: 0.875rem;
			font-weight: 500;
			text-transform: uppercase;
		}
		p{
			color: $text;
			display: inline-block;
			font-size: 0.875rem;
			font-weight: 500;
			text-transform: uppercase;
		}
		@media (max-width: $md3+px){
			display: none;
		}
	}
	&__account{
		display: flex;
		align-items: center;
		li{
			margin-right: 32px;
			padding: 10px 0;
			&:last-child{
				margin: 0;
			}
			@media (max-width: $md3+px){
				margin-right: 15px;
			}
		}
		& > li{
			position: relative;
		}
		a{
			color: $text;
			display: inline-block;
			font-size: 0.875rem;
			font-weight: 500;
			text-transform: uppercase;
		}
		.account-link{
			@media (max-width: $md3+px){
				display: none;
			}
		}
	}
	&__wrapper{
		background-color: #ffffff;
		position: fixed;
		width: 100%;
		z-index: 100;
		top: 0;
	}
	&__menu-privacy-links-wrapper{
		width: 90%;
		position: absolute;
		bottom: 7%;
		@media (max-width: 1000px){
			
		}	
	}
	&__menu-privacy-links{
		display: flex;
		justify-content: space-between;
		a{
			font-size: 1rem !important;
			color: #3d3d3d !important;
			font-family: 'Campton', sans-serif !important;
			font-weight: 400 !important;
			@media (max-width: $md2+px){
				font-size: 0.875rem  !important;
			}
			@media (max-width: 360px){
				font-size: 0.625rem !important;
			}
		}
	}
	&__menu{
		display: flex;
		align-items: center;
		display: block;
		position: fixed;
		overflow-y: auto;
		top: -10%;
		left: 0;
		width: 35%;
		height: 100%;
		background-color: #FEFEFE;
		padding: 163px 10px 30px 30px;
		left: -100%;
		transition: left 0.3s ease;
		transform: translateY(calc( $headerHeight + 50px));
		z-index: 10000;
		@media (max-width: 1000px){
			width: 47%;
		}
		@media (max-width: $md3+px){
			width: 100%;
			top: -14%;
			padding: 100px 16px;
			transform: initial;
			top: 0;
			height: 100%;
		}
		& > li{
			padding: 0;
			margin-bottom: 24px;
			&:last-child{
				margin-bottom: 0;
			}
			@media (max-width: $md3+px){
				margin-bottom: 18px;
			}
		}
		&.active{
			left: 0;
		}
		& > li{
			position: relative;
		}
		a{
			color: #99ADAA;
			font-size: 2.75rem;
			font-weight: 700;
			font-family: 'Campton', sans-serif;
			@media (max-width: $md3+px){
				font-size: 1.75rem;
			}
		}
	}
	&__logo{
		max-width: 117px;
		@media (max-width: $md3+px) {
			max-width: 120px;
		}
	}
}

.menu-trigger-close{
	z-index: 100000;
	width: 52px;
	position: absolute;
	right: 6%;
	top: 3%;
	height: 52px;
	border: 1px solid #56685F;
	border-radius: 50px;
	transition: .3s ease all;
	cursor: pointer;
	&:hover{
		border-color: red;
		&:before, &:after{
			background-color: red;
		}
	}
	@media (max-width: $md3+px){
		display: none;
	}
	&:before{
		content: '';
		position: absolute;
		background-color: #56685F;
		height: 2px;
		width: 20px;
		top: 50%;
		left: 50%;
		transform: rotate(-45deg);
		left: 30%;
		transition: .3s ease all;
	}
	&:after{
		content: '';
		position: absolute;
		background-color: #56685F;
		height: 2px;
		width: 20px;
		top: 50%;
		left: 50%;
		transform: rotate(45deg);
		left: 30%;
		transition: .3s ease all;
	}
}

.menu-trigger{
	cursor: pointer;
	p{
		transition: .3s ease all;
	}
	&:hover{
		p{
			color: #B79172;
		}
	}
}

//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px){
		position: relative;
		display: block;
		cursor: pointer;
		height: 18px;
		min-width: 69px;
		ul{
			display: flex;
			li{
				margin-right: 32px;
				padding: 10px 0;
				&:last-child{
					margin: 0;
				}
				a{
					color: black;
					font-size: .875rem;
					font-weight: 500;
				}
			}
		}
		span, &:before, &:after{
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 5px;
			position: absolute;
			width: 20px;
			height: 2px;
			background-color: #56685F;
		}
		&:before, &:after{
			content : " ";
		}
		&:before {
			top: 0px;
		}
		&:after {
			top: auto;
			bottom: 0px;
		}
		&.active {
			left: 90%;
			z-index: 3000000;
			border: 1px solid #56685F;
			border-radius: 50px;
			width: 32px;
			height: 32px;
			min-width: initial;
			ul{
				opacity: 0;
			}
			span {
				transform: scale(0);
				opacity: 1;
			}
			&:before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
				opacity: 1;
			}
			&:after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
				opacity: 1;
			}
		}
	}
}

._lock::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	height: 100%;
    background: rgba(119, 119, 119, 0.33);
	backdrop-filter: blur(4px);
	height: 10000px;
	z-index: 3;
}
