//<Mixins>===============================================================================================
@import "components/general/mixins";
//</Mixins>===============================================================================================

//<Fonts>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "components/general/fonts";
//</Fonts>=======================================================================================

//<Icons font>==========================================================================================
//@import "icons";
//</Icons font>==========================================================================================

//<Initial Font>==========================================================================================
$fontFamily: 'Bitter', sans-serif;
//</Initial Font>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<vars>===========================================================================================================
@import "components/general/vars";
//</vars>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "components/general/null";

body {
	color: $text;
	font-size: 16px;
	position: relative;
	&._lock {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	@media (min-width: $md2+px){
		-moz-transform: scale(0.85, 0.85);
		zoom: 0.85;
		zoom: 85%;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<Button>===========================================================================================================
.button{
	color: #ffffff;
	background: #56685F;
	padding: 20px 80px;
	border-radius: 50px;
	font-size: 1.125rem;
	display: inline-block;
	align-items: center;
	transition: .3s ease;
	font-family: 'Campton', sans-serif;
	font-weight: 700;
	cursor: pointer;
	box-shadow: 0px 15px 20px rgba($text, 0.1);
	&:hover{
		color: #56685f;
		background-color: #ffffff;
		box-shadow: 0px 15px 20px rgba($text, 0.1);
	}
}
//</Button>===========================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md2+px){
		padding: 0 20px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 16px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "components/general/forms";
@import "components/general/ui";
@import "components/general/bag-modal";
@import "components/general/log-out-modal";
@import "components/optional/spollers";
@import "components/optional/popup";
@import "components/optional/rating";
@import "components/optional/video";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "components/optional/datepicker";
//@import "components/optional/lightgallery";
//@import "components/optional/pagging";
// @import "components/optional/tabs";
// @import "components/optional/spollers";
// @import "components/optional/popup";
// @import "components/optional/video";
// @import "components/optional/checkbox";
// @import "components/optional/rating";
@import "components/general/header";
@import "components/general/footer";
@import "components/general/forms";
@import "pages/create-account";
@import "pages/contact-us";
@import "pages/shop";
@import "pages/error-page";
@import "pages/faq";
@import "pages/sunday-show";
@import "components/optional/tabs";
@import "pages/product";
@import "pages/about-us";
@import "pages/personal-info";
@import "components/optional/swiper";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

.hero-section{
	position: relative;
	overflow: visible;
	&__content{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 150px;
		align-items: center;
		position: relative;
		@media (max-width: $maxWidthContainer + px){
			grid-gap: 100px;
		}
		@media (max-width: $md2+px){
			grid-gap: 40px;
		}
		@media (max-width: $md3+px){
			padding: 50px 0 50px 0;
		}
		@media (max-width: $md4+px){
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 0;
			padding: 40px 0 0 0;
		}
	}
	&__content-wrapper{
		background: #d3dddc;
		margin-top: 50px;
		max-height: 830px;
		@media (max-width: $md4+px){
			max-height: 630px;
			overflow: hidden;
		}
	}
	&__image-wrapper{
		text-align: center;
	}
	&__left{
		@media (max-width: $md4+px){
			margin-top: 28px;
		}
		h2{
			font-size: 4.25rem;
			font-family: 'Campton', sans-serif;
			max-width: 591px;
			font-weight: 700;
			color: #ffffff;
			margin-top: 50px;
			line-height: 125%;
			@media (max-width: $md2+px){
				margin-top: 0;
			}
			b{
				color: #56685f;
				font-weight: 700;
			}
			@media (max-width: 1300px){
				font-size: 3.5rem;
			}
			@media (max-width: $md2+px){
				font-size: 3rem;
			}
			@media (max-width: $md3+px){
				font-size: 2.25rem;
				max-width: 328px;
			}
			@media (max-width: 370px){
				font-size: 2rem;
			}
		}
	}
	&__image-wrapper{
		text-align: center;
		img{
			@media (max-width: $md3+px){
				max-width: 400px;
			}
		}
	}
	&__button-wrapper{
		margin-top: 46px;
		@media (max-width: $md3+px){
			margin-top: 20px;
		}
		@media (max-width: $md4+px){
			text-align: center;
		}
	}
	&__button{
		@media (max-width: $md3+px){
			white-space: nowrap;
		}
		@media (max-width: $md4+px){
			width: 100%;
		}
	}
}

.best-seller{
	z-index: 1;
	position: relative;	
	margin: 125px 0 125px 0;
	@media (max-width: $md3+px){
		margin: 36px 0 36px 0;
	}
	h2{
		text-align: center;
		font-size: 2.5rem;
		color: #1E4F48;
		font-weight: 700;
		font-family: 'Campton', sans-serif;
		line-height: 140%;
	}
	&__content{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 38px;
		margin-top: 52px;
		@media (max-width: $md3+px){
			grid-template-columns: repeat(1, 1fr);
			justify-items: center;
			grid-gap: 36px;
			margin-top: 28px;
		}
	}
	&__button-wrapper{
		text-align: center;
		margin-top: 84px;
		@media (max-width: $md3+px){
			margin-top: 42px;
		}
	}
	&__button{
		@media (max-width: $md4+px){
			width: 100%;
			padding: 20px 40px;
		}
	}
	&__item{
		position: relative;
		@media (max-width: $md3+px){
			max-width: 350px;
		}
		p{
			margin-top: 5px;
			font-size: 1.125rem;
			@media (max-width: $md2+px){
				font-size: 1rem;
			}
		}
	}
	&__price{
		display: flex;
		justify-content: space-between;
		margin-top: 21px;
		p{
			font-family: 'Campton', sans-serif;
			font-size: 1.5rem;
			font-weight: 400;
			@media (max-width: $md2+px){
				font-size: 1.125rem;
			}
			@media (max-width: $md3+px){
				font-size: 0.875rem;
			}
		}
	}
	&__bag{
		position: absolute;
		right: 5%;
		top: 5%;
		cursor: pointer;
		transition: .3s ease all;
		&:hover{
			transform: scale(1.1);
		}
	}
}

.say{
	background: #d3dddc;
	overflow: hidden;
	&__content{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 150px;
		align-items: center;
		@media (max-width: 1300px){
			grid-gap: 50px;
		}
		@media (max-width: $md2+px){
			grid-template-columns: repeat(1, 1fr);
			justify-items: center;
		}
		@media (max-width: $md3+px){
			grid-gap: 36px;
		}
	}
	&__right{
		position: relative;
		z-index: 2;
		@media (max-width: $md2+px){
			margin-top: 70px;
			grid-row: 1;
		}
		@media (max-width: $md3+px){
			margin-top: 35px;
		}
		h2{
			font-family: 'Campton', sans-serif;
			font-weight: 700;
			font-size: 4.25rem;
			color: #ffffff;
			line-height: 130%;
			@media (max-width: 1300px){
				font-size: 3.5rem;
			}
			@media (max-width: 1100px){
				font-size: 3rem;
			}
			@media (max-width: $md3+px){
				font-size: 2.25rem;
			}
		}
		h3{
			font-family: 'IntroScript', sans-serif;
			font-weight: 900;
			font-size: 4.5rem;
			color: #1E4F48;
			margin-top: 10px;
			line-height: 100%;
			@media (max-width: 1300px){
				font-size: 3.5rem;
			}
			@media (max-width: 1100px){
				font-size: 3rem;
			}
			@media (max-width: $md3+px){
				font-size: 2.25rem;
			}
		}
	}
	&__text{
		margin-top: 38px;
		@media (max-width: 1200px){
			margin-top: 25px;
		}
		@media (max-width: $md3+px){
			margin-top: 18px;
		}
		p{
			font-size: 1.3rem;
			max-width: 571px;
			font-weight: 500;
			line-height: 30px;
			margin-top: 15px;
			@media (max-width: 1200px){
				font-size: 1.125rem;
				line-height: 25px;
				margin-top: 10px;
			}
			@media (max-width: $md3+px){
				font-size: 0.875rem;
				line-height: 19px;
			}
		}
	}
	&__left{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 50px;
		margin: 160px 0 160px 0;
		position: relative;
		@media (max-width: $md2+px){
			justify-items: center;
			margin-bottom: 70px;
			margin-top: 0;
		}
		@media (max-width: $md3+px){
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 46px;
			margin-bottom: 30px;
		}
		@media (max-width: $md4+px){
			width: 100%;
		}	
	}
	&__bg{
		top: -44%;
		position: absolute;
		width: 1100px;
		left: -41%;
		z-index: 1;
		@media (max-width: $md3+px){
			left: -156%;
			top: -18%;
		}
		@media (max-width: $md4+px){
			left: -100%;
			top: -17%;
		}
	}
	&__left-item{
		max-width: 230px;
		position: relative;
		z-index: 2;
		@media (max-width: $md3+px){
			max-width: initial;
			text-align: center;
			img{
				max-width: 153px;
			}
		}
		@media (max-width: $md4+px){
			width: 100%;
		}
	}
	&__button-wrapper{
		text-align: center;
		margin-top: 56px;
		white-space: nowrap;
		@media (max-width: $md3+px){
			margin-top: 18px;
		}
	}
	&__button{
		width: 100%;
	}
	&__button-brown{
		background-color: #B79172;
		width: 100%;
		&:hover{
			color: #B79172;
		}
	}
}

.questions{
	background: #d3dddc;
	padding: 123px 0 123px;
	@media (max-width: $md2+px){
		padding: 70px 0 70px 0;
	}
	@media (max-width: $md3+px){
		padding: 35px 0 35px 0;
	}
	&__content{
		h2{
			text-align: center;
			font-size: 2.75rem;
			font-weight: 700;
			font-family: 'Campton', sans-serif;
			color: #1E4F48;
			line-height: 125%;
			@media (max-width: $md3+px){
				font-size: 2.25rem;
			}
		}
	}
	&__button-wrapper{
		text-align: center;
		margin-top: 48px;
		@media (max-width: $md3+px){
			margin-top: 36px;
		}
	}
	&__button{
		@media (max-width: $md4+px){
			width: 100%;
		}
	}
}

::-webkit-scrollbar{
	width: 0;
}

select{
	appearance: none;
}
