.contact-us{
    margin-top: calc($headerHeight + 66px);
    position: relative;
    @media (max-width: $md3+px){
        margin-top: calc($headerHeight + 28px);
    }
}

.green-wave{
    margin-top: 100px;
    @media (max-width: $md3+px){
        margin-top: 35px !important;
    }
}