.error-page{
    .who__content-wrapper{
        background-color: #d3dddc;
        padding-top: 32px;
        position: relative;
        padding-bottom: 150px;
        @media (max-width: 1100px){
            padding-top: 100px;
        }
        @media (max-width: $md3+px){
            height: calc(100vh - $headerHeight);
            padding-bottom: 0;
        }
    }
    .who__left{
        font-family: 'Campton', sans-serif;
        font-weight: 700;
        h2{
            color: #1E4F48;
            font-size: 7rem !important;
            @media (max-width: $md2+px){
                font-size: 5rem !important;
            }
        }
        h3{
            color: #a0b3b0;
            font-size: 5.3rem !important;
            @media (max-width: $md2+px){
                font-size: 4rem !important;
            } 
            @media (max-width: $md3+px){
                font-size: 2rem !important;
            }
        }
    }
    .who__right img{
        max-width: 100%;
        height: 100%;
    }
    .who__right{
        @media (max-width: $md3+px){
            position: absolute;
            bottom: -35%;
            right: -20%;
            max-width: 500px;
            z-index: 1;
        }
    }
    .who__button{
        padding: 21px 37px;
        background-color: #1E4F48;
        font-size: 1.125rem;
        &:hover{
            background-color: transparent;
            color: #1E4F48;
        }
    }
    .who__button-wrapper{
        margin-top: 47px;
        position: relative;
        z-index: 2;
        @media (max-width: $md4+px){
            position: absolute;
            bottom: 10%;
            width: 93%;
        }
    }
}

.error-page-wrapper .footer{
    display: none !important;
}