.faq{
    .green-wave{
        margin-top: 160px !important;
    }
    &__menu-mobile{
        margin-top: calc($headerHeight + 28px) !important;
        h2{
            text-align: center;
            font-size: 2.25rem;
            font-family: 'IntroScript', sans-serif;
            margin-bottom: 36px;
        }
    }
    &__content{
        margin-top: calc($headerHeight + 78px);
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        @media (max-width: 1150px){
            grid-gap: 30px;
        }
        @media (max-width: $md3+px){
            display: none;
        }
    }
    &__left{
        h2{
            font-size: 2.75rem;
            font-family: 'IntroScript', sans-serif;
        }
    }
    &__list{
        margin-top: 41px;
        li{
            margin-bottom: 21px;
            transition: .3s ease all;
            a{
                font-size: 1.125rem;
                font-weight: 600;
                color: #1E4F48;
                transition: .3s ease all;
                @media (max-width: $md2+px){
                    font-size: 1rem;
                }
            }
            &:hover{
                a{
                    color: #B79172;
                }
            }
        }
    }
    &__right{
        .spollers-block__title{
            font-size: 1rem;
            font-family: 'Campton', sans-serif;
            padding: 24px 0;
            position: relative;
            @media (max-width: $md3+px){
                padding: 10px 0;
                align-items: stretch;
                h3{
                    max-width: 290px;
                    min-height: 50px;
                    @media (max-width: 390px){
                        font-size: 0.875rem;
                        max-width: 223px;
                    }
                }
            }
            h3{
                line-height: 150%;
            }
            &:after{
                transform: initial;
                width: initial;
                height: initial;
                content: '+';
                position: absolute;
                background-color: transparent;
                right: 20px;
                top: 30px;
            }
            &:before{
                transform: initial;
                width: initial;
                height: initial;
                background-color: #d3dddc;
                top: 28%;
                width: 32px;
                height: 32px;
                border: 1px solid #3D3D3D;
                border-radius: 100%;
                transition: .3s ease all;
            }
            &._active{
                &:before{
                    transition: .3s ease all;
                    background-color: #ece8e4;
                }
                &:after{
                    content: '-';
                    right: 21px;
                    top: 29px;
                }
            }
            @media (max-width: $md3+px){
                &:before{
                    right: -6px;
                    top: 13%;
                }
                &:after{
                    top: 19px;
                    right: 5px;
                }
                &._active{
                    &:after{
                        content: '-';
                        top: 19px;
                        right: 6px;
                    }
                }
            }
        }
        .spollers-block__item{
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
            @media (max-width: $md3+px){
                border: none;
            }
            
        }
        .spollers-block__body{
            margin-top: 0;
            padding-bottom: 24px;
            @media (max-width: $md3+px){
                padding-bottom: 17px;
            }
            p{
                max-width: 500px;
                font-size: 1.125rem;
                line-height: 150%;
                @media (max-width: $md3+px){
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.faq-page-form{
    h3{
        font-size: 2.75rem;
        color: #1E4F48;
        font-family: 'IntroScript', sans-serif;
        text-align: center;
    }
    p{
        text-align: center;
        font-weight: 500;
        max-width: 300px;
        margin: 9px auto 0 auto;
        color: #3D3D3D;
        line-height: 150%;
    }
}