.product{
    &__content{
        margin-top: $headerHeight;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: $md2+px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__right{
        padding: 0 70px;
        position: relative;
        @media (max-width: 1200px){
            padding: 0 40px;
        }
        @media (max-width: $md2+px){
            padding: 36px 20px;
        }
        h3{
            font-size: 1.75rem;
            font-family: 'Campton', sans-serif;
            font-weight: 700;
            color: #56685F;
            line-height: 120%;
            @media (max-width: $md3+px){
                font-size: 1.5rem;
                position: absolute;
                right: 10px;
                top: 12%;
            }
        }
        h2{
            font-size: 2.75rem;
            font-family: 'Campton', sans-serif;
            font-weight: 700;
            color: #56685F;
            margin-top: 16px;
            line-height: 100%;
            @media (max-width: $md3+px){
                font-size: 1.5rem;
            }

        }
        p{
            margin-top: 20px;
            max-width: 511px;
            font-size: 1rem;
            line-height: 140%;
            font-weight: 500;
            @media (max-width: $md4+px){
                font-size: 0.875rem;
            }
        }
        h4{
            font-size: 2rem;
            font-weight: 700;
            margin-top: 4px;
            color: #D3B08E;
            font-family: 'Campton', sans-serif;
            line-height: 120%;
            @media (max-width: $md3+px){
                font-size: 1.125rem;
                margin-top: 5px;
            }
        }
    }
    &__stars-wrapper{
        margin-top: 30px;
        display: flex;
        align-items: center;
        @media (max-width: $md3+px){
            margin-top: 10px;
        }
        p{
            margin-top: 0;
            position: relative;
            top: 1px;
            @media (max-width: $md3+px){
                font-size: 0.75rem;
            }
        }
    }
    &__stars{
        display: flex;
        img{
            max-width: 18px;
            margin-right: 4px;
            &:last-child{
                margin-right: 16px;
            }
        }
    }
    &__about{
        display: inline-flex;
        margin-top: 25px;
        border-top: 1px solid #EAEAEA;
        padding-top: 20px;
        @media (max-width: $md3+px){
            justify-content: space-between;
            display: flex;
        }
    }
    &__about-item{
        margin-right: 19px;
        display: flex;
        align-items: center;
        @media (max-width: $md3+px){
            display: block;
            text-align: center;
            margin-right: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        img{
            max-width: 52px;
            margin-right: 12px;
            @media (max-width: $md3+px){
                margin-right: 0;
            }
            @media (max-width: $md4+px){
                max-width: 40px;
            }
        }
        p{
            font-size: 0.875rem;
            font-weight: 700;
            font-family: 'Campton', sans-serif;
            margin-top: 7px;
            color: #56685F;
        }
    }
    &__button-wrapper{
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    &__button{
        display: flex;
        align-items: center;
        padding: 15px 73px;
        background: #B79172;
        font-family: 'Campton', sans-serif;
        font-size: 1rem;
        @media (max-width: $md3+px){
            order: 1;
            margin-right: 16px;
        }
        @media (max-width: $md4+px){
            padding: 16px 29px;
            font-size: 0.875rem;
            white-space: nowrap;
        }
        &:hover{
            color: #B79172;
            svg{
                path{
                    fill: #B79172; 
                }
            }
        }
        p{
            margin: 0 0 0 10px;
            position: relative;
            top: 3px;
            font-weight: 700 !important;
        }
    }
    &__count{
        padding: 14px 24px;
        display: flex;
        align-items: center;
        border-radius: 50px;
        border: 1px solid black;
        margin-right: 15px;
        @media (max-width: $md3+px){
            order: 2;
            margin-right: 0;
        }
        p{
            margin-top: 0;
        }
        :nth-child(2){
            padding-right: 20px;
            font-size: 1rem;
        }
        :nth-child(2){
            padding-left: 20px;
        }
        p{
            font-size: 1.5rem;
        }
    }
}

.benefits{
    padding: 107px 0 107px 0;
    background-color: #ECE8E4;
    @media (max-width: $md2+px){
        padding: 70px 0 70px 0;
    }
    @media (max-width: $md3+px){
        padding: 30px 0 30px 0;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 86px;
        @media (max-width: 1300px){
            grid-gap: 50px;
        }
        @media (max-width: 1150px){
            grid-gap: 20px;
        }
        @media (max-width: $md2+px){
            grid-template-columns: repeat(3, 1fr);
            gap: 30px 30px;
        }
        @media (max-width: $md3+px){
            grid-template-columns: repeat(2, 1fr);
            gap: 24px 20px;
        }
    }
    &__item{
        text-align: center;
        :nth-child(3){
            margin-top: 7px;
        }
        p{
            margin-top: 24px;
            font-weight: 700;
            color: #56685F;
            font-family: 'Campton', sans-serif;
        }
        img{
            max-width: 60px;
        }
    }
}

.say-no{
    padding-top: 50px;
    @media (max-width: $md2+px){
        padding-top: 25px;
    }
    @media (max-width: $md3+px){
        padding-top: 30px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 50px;
        @media (max-width: $md2+px){
            grid-gap: 0;
        }
        @media (max-width: $md3+px){
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
        }
    }
    &__right{
        @media (max-width: $md3+px){
            max-width: 500px;
        }
        img{
            position: relative;
            max-width: 650px;
            display: flex;
            margin: 0 auto;
        }
    }
    &__left{
        margin-bottom: 50px;
        @media (max-width: $md3+px){
            margin-bottom: 0;
        }
        h2{
            font-weight: 700;
            font-size: 4.25rem;
            font-family: 'Campton', sans-serif;
            color: #B79172;
            line-height: 125%;
            @media (max-width: 1200px){
                font-size: 3.8rem;
            }
            @media (max-width: $md2+px){
                font-size: 2.5rem;
            }
            b{
                font-size: 4.5rem;
                font-family: 'IntroScript', sans-serif;
                color: #1E4F48;
                @media (max-width: 1200px){
                    font-size: 3.8rem;
                }
                @media (max-width: $md2+px){
                    font-size: 2.5rem;
                }
            }
            @media (max-width: $md2+px){
                font-size: 2.5rem;
            }
        }
    }
    &__text{
        margin-top: 46px;
        @media (max-width: 1200px){
            margin-top: 30px;
        }
        @media (max-width: $md3+px){
            margin-top: 18px;
        }
        p{
            margin-top: 20px;
            font-size:  1.375rem;
            max-width: 622px;
            line-height: 140%;
            @media (max-width: 1200px){
                font-size: 1.25rem;
                margin-top: 15px;
            }
            @media (max-width: 1100px){
                font-size: 1.125rem;
            }
            @media (max-width: $md2+px){
                font-size: 1rem;
            }
            @media (max-width: $md3+px){
                font-size: 0.875rem;
            }
        }
    }
}

.vitality{
    background: #ECE8E4;
    padding-top: 114px;
    @media (max-width: $md2+px){
        padding-top: 25px;
    }
    @media (max-width: $md3+px){
        padding-top: 30px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 39px;
        align-items: center;
        @media (max-width: $md3+px){
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            grid-gap: 0;
        }
    }
    &__right{
        margin-bottom: 50px;
        @media (max-width: $md3+px){
            grid-row: 1;
            margin-bottom: 0;
        }
        h2{
            font-weight: 700;
            font-size: 4.25rem;
            font-family: 'Campton', sans-serif;
            color: #B79172;
            max-width: 510px;
            line-height: 125%;
            @media (max-width: 1200px){
                font-size: 3.8rem;
            }
            @media (max-width: $md2+px){
                font-size: 2.5rem;
            }
            b{
                font-size: 4.5rem;
                font-family: 'IntroScript', sans-serif;
                color: #1E4F48;
                @media (max-width: 1200px){
                    font-size: 3.8rem;
                }
                @media (max-width: $md2+px){
                    font-size: 2.5rem;
                }
            }
            @media (max-width: $md2+px){
                font-size: 2.5rem;
            }
        }
    }
    &__left{
        @media (max-width: $md3+px){
            max-width: 500px;
        }
    }
    &__text{
        margin-top: 46px;
        @media (max-width: 1200px){
            margin-top: 30px;
        }
        @media (max-width: $md3+px){
            margin-top: 18px;
        }
        p{
            margin-top: 20px;
            font-size:  1.375rem;
            line-height: 140%;
            @media (max-width: 1200px){
                font-size: 1.25rem;
                margin-top: 15px;
            }
            @media (max-width: 1100px){
                font-size: 1.125rem;
            }
            @media (max-width: $md2+px){
                font-size: 1rem;
            }
            @media (max-width: $md3+px){
                font-size: 0.875rem;
            }
        }
    }
}

.testimonials{
    margin-top: 150px;
    &__content{
        position: relative;
    }
    .swiper-nav-wrapper{
        text-align: center;
        .swiper-nav{
            display: inline-flex;
            position: relative;
        }
    }
    @media (max-width: $md2+px){
        margin-top: 70px;
    }
    @media (max-width: $md3+px){
        margin-top: 0;
    }
    &__title{
        display: flex;
        justify-content: space-between;
		align-items: center;
        @media (max-width: $md3+px){
            justify-content: center;
            text-align: center;
        }
		h2{
			font-size: 2.75rem;
			color: #B79172;
			font-family: 'Campton', sans-serif;
            font-weight: 700;
            line-height: 120%;
            @media (max-width: $md2+px){
                max-width: 400px;
            }
		}
    }
	&__write-button{
		padding: 15px 25px;
		background: transparent;
        border: 1px solid #AEAEAE;
		color: #3D3D3D;
		font-size: 1.25rem;
		&:hover{
			color: black;
			transform: scale(1.1);
		}
        @media (max-width: $md3+px){
            display: none;
        }
	}
    &__button-wrapper{
        display: none;
        @media (max-width: $md3+px){
            display: block;
            text-align: center;
            margin-top: 32px;
        }
    }
    &__write-button-mobile{
        @media (max-width: $md3+px){
            display: inline-block !important;
        }
        @media (max-width: $md4+px){
            width: 100%;
        }
    }
    &__view-link{
        color: #1E4F48;
        font-family: 'Campton', sans-serif;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
        display: block;
        right: -24%;
        bottom: 24%;
        position: absolute;
        @media (max-width: $md3+px){
            display: none;
        }
    }
    &__view-link-mobile{
        display: none;
        @media (max-width: $md3+px){
            display: block !important;
            position: initial !important;
            text-align: right;
            margin-top: 23px;
        }
    }
}

.best-seller-product{
    margin-top: 182px !important;
    margin-bottom: 145px !important;
    @media (max-width: $md2+px){
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    @media (max-width: $md3+px){
        margin-bottom: 50px !important;
        margin-top: 50px !important;
    }
    h2{
        color: #B79172 !important;
    }
}