.shop{
    &__content{
        margin-top: $headerHeight + 102px;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap: 100px;
        @media (max-width: $md2+px){
            grid-gap: 50px;
            grid-template-columns: 260px 1fr;
        }
        @media (max-width: $md3+px){
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 32px;
        }
        @media (max-width: $md3+px){
            margin-top: $headerHeight + 20px;
        }
    }
    &__grid{
        margin-top: 0 !important;
        gap: 100px 28px !important;
        @media (max-width: 1200px){
            grid-template-columns: repeat(2, 1fr) !important;
        }
        @media (max-width: $md3+px){
            gap: 24px 14px !important;
        }
        .best-seller__item{
            p{
                font-size: 0.875rem;
                @media (max-width: $md3+px){
                    font-size: 0.625rem;
                }
            }
        }
        .best-seller__price{
            @media (max-width: $md3+px){
                flex-direction: column;
                margin-top: 10px;
                p{
                    font-size: 0.875rem !important;
                }
                :nth-child(2){
                    order: 1;
                }
                :nth-child(1){
                    order: 2;
                }
            }
            p{
                font-size: 1.125rem;
            }
        }
    }
    &__page-number{
        display: flex;
        justify-content: center;
        margin: 100px 0 76px 0;
        @media (max-width: $md3+px){
            margin: 58px 0 44px 0;
        }
        p{
            margin-right: 16px;
            font-size: 1.125rem;
            cursor: pointer;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #56685F;
            background-color: transparent;
            border: 1px solid #56685F;
            transition: .3s ease all;
            &:hover{
                background-color: #56685F;
                color: #ffffff;
            }
            border-radius: 50px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}