.sunday-show{
    .shop__page-number{
        margin: 0 !important;
        padding-bottom: 78px;
        @media (max-width: $md3+px){
            padding-bottom: 63px;
        }
    }
    &__content{
        margin-top: calc($headerHeight + 78px);
        text-align: center;
        @media (max-width: $md3+px){
            margin-top: calc($headerHeight + 44px);
        }
        h2{
            font-size: 2.75rem;
            font-family: 'Campton', sans-serif;
            font-weight: 700;
            color: #B79172;
            @media (max-width: $md3+px){
                font-size: 2rem;
            }
        }
        h3{
            margin-top: 10px;
            font-size: 2.75rem;
            font-family: 'IntroScript', sans-serif;
            color: #1E4F48;
            @media (max-width: $md3+px){
                font-size: 2rem;
            }
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 78px 51px;
        padding: 28px 0 78px 0;
        @media (max-width: $md3+px){
            padding-bottom: 68px;
        }
        @media (max-width: 1200px){
            gap: 50px 27px;
        }
        @media (max-width: $md2+px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $md3+px){
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 32px;
        }
    }
    &__date{
        margin-top: 13px;
        color: #1E4F48;
        text-align: left;
        font-weight: 700;
        @media (max-width: $md3+px){
            margin-top: 20px;
        }
        p{
            font-family: 'Campton', sans-serif;
            font-size: 0.875rem;
        }
        h3{
            font-family: 'Bitter', sans-serif;
            font-size: 1.125rem;
            margin-top: 10px;
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }
    }
    &__sort{
        display: flex;
        justify-content: space-between;
        padding-top: 59px;
        @media (max-width: $md3+px){
            padding-top: 20px;
        }
        img{
            max-width: 10px;
        }
        a{
            color: #56685F;
            text-decoration: underline;
            font-weight: 600;
            transition: .3s ease all;
            &:hover{
                transform: scale(1.1);
            }
            @media (max-width: $md3+px){
                font-size: 0.85rem;
            }
        }
    }
    &__sort-item{
        display: flex;
        align-items: center;
        white-space: nowrap;
        p{
            margin-right: 5px;
            color: #B79172;
            font-weight: 500;
            @media (max-width: $md3+px){
                font-size: 0.85rem;
            }
        }
        b{
          color: #56685F;  
        }
    }
    &__music{
        margin-top: 32px;
        padding-bottom: 140px;
        @media (max-width: $md2+px){
            padding-bottom: 70px;
        }
        @media (max-width: $md3+px){
            padding-bottom: 32px;
        }
    }
}

.music-tab{
    .sunday-show__sort{
        justify-content: end;
        .sunday-show__sort-item{
            display: none;
        }
    }
}