.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
    background: rgba(119, 119, 119, 0.33);
	backdrop-filter: blur(4px);
	transition: none !important;
}

.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden;
}

.mfp-container {
	text-align: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
}

.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
	display: none;
}

.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045;
	background: #FFFFFF;
	box-shadow: 3px 4px 59px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
}


.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto;
}

.mfp-ajax-cur {
	cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

.mfp-hide {
	display: none !important;
}

.mfp-wrap {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}

html.mfp-helper {
  height: 100%;

  body {
    overflow: hidden;
    height: 100%;
    -webkit-transform: translateZ(0);
  }
}

.mfp-move-horizontal{
	overflow: hidden !important;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%); }
    
  .mfp-move-horizontal.mfp-ready{
	opacity: 1;
	-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
			transform: translateX(0); }
  
  .mfp-move-horizontal.mfp-removing{
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%);
	opacity: 0;  
}

.testimonials{
	&__write-modal{
		padding: 50px 116px;
		@media (max-width: $md3+px){
			padding: 20px;
		}
		h2{
			text-align: center;
			font-size: 2.5rem;
			font-weight: 700;
			color: #1E4F48;
			font-family: 'Campton', sans-serif;
			@media (max-width: $md3+px){
				text-align: left;
				font-size: 1.75rem;
			}
		}
		p{
			text-align: center;
			margin-top: 50px;
			font-size: 0.875rem;
			color: #636363;
			@media (max-width: $md3+px){
				margin-top: 20px;
				font-size: 0.75rem;
			}
		}
	}
	&__modal-button-wrapper{
		text-align: center;
		margin-top: 22px;
		@media (max-width: $md3+px){
			margin-top: 15px;
		}
	}
	&__modal-button{
		@media (max-width: $md4+px){
			width: 100%;
		}
	}
	&__modal-close{
		position: absolute;
		right: 7%;
		top: 4%;
		@media (max-width: $md3+px){
			top: 1%;
		}
		svg{
			@media (max-width: $md3+px){
				max-width: 32px;
			}
			path{
				transition: .2s ease all;
			}
			circle{
				transition: .2s ease all;
			}
		}
		&:hover{
			svg{
				path{
					fill: red;
				}
				circle{
					stroke: red;
				}
			}
		}
	}
	&__view-modal{
		padding: 50px 63px;
		overflow: hidden;
		.testimonials__comments{
			max-height: 500px;
			overflow: auto;
		}
		@media (max-width: $md3+px){
			max-height: 350px;
		}
		h2{
			font-weight: 700 !important;
			text-align: initial !important;
		}
		p{
			text-align: initial !important;
		}
		.testimonials__slide-item{
			margin-top: 20px;
			img{
				min-width: 20px;
			}
		}
		.testimonials__rating h2{
			@media (max-width: $md4+px){
				line-height: 17px;	
			}
		}
	}
	&__comments{
		margin-top: 18px;
		@media (max-width: $md3+px){
			margin-top: 0;
		}
	}
}