.spollers-block {
	// .spollers-block__item
	&__item {
		margin: 0px 0px 14px 0px;
		padding-bottom: 14px;
		border-bottom: 1px solid #AEAEAE;
		&:last-child {
			margin: 0px 0px 0px 0px;
			border-bottom: none;
		}
	}
	// .spollers-block__title
	&__title {
		color: #3D3D3D;
		cursor: pointer;
		position: relative;
		font-weight: 700;
		font-size: 1.25rem;
		&::before {
			content: "";
			width: 14px;
			background-color: #1E4F48;
			height: 2px;
			transition: transform 0.3s ease 0s;
			position: absolute;
			right: 9px;
			top: 50%;
			transform: rotate(47deg);
		}
		&::after {
			content: "";
			width: 14px;
			background-color: #1E4F48;
			height: 2px;
			transition: transform 0.3s ease 0s;
			position: absolute;
			right: 0;
			top: 50%;
			transform: rotate(-50deg);
		}
		&._active {
			&::before {
				transform: rotate(-50deg);
			}
			&::after {
				transform: rotate(47deg);
			}
		}
	}
	// .spollers-block__body
	&__body {
		display: none;
		margin-top: 14px;
		ul{
			li{
				margin-bottom: 12px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					color: #3D3D3D;
					font-weight: 500;
					line-height: 150%;
				}
			}
		}
	}
}

.shop{
	&__filter-title{
        display: flex;
        border-bottom: 2px solid #EAEAEA;
        padding-bottom: 21px;
        h3{
            color: #1E4F48;
            font-weight: 700;
        }
        img{
            max-width: 17px;
            margin-right: 15px;
        }
    }
    &__spollers{
        margin-top: 14px;
        .spollers-block__title{
            font-size: 1rem;
            color: #1E4F48;
            font-weight: 500;
        }
        .spollers-block__item{
            border-bottom: 2px solid #EAEAEA;
        }
    }
    &__list{
        li{
            margin-left: 24px;
            a{
                color: #888888 !important;
				line-height: 150% !important;
                font-size: 0.875rem;
            }
        }
    }
    &__all-products{
        a{
            color: #1E4F48 !important;
        }
    }
    &__price-spoller{
        border-bottom: none !important;
    }
    &__price-input-wrapper{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-weight: 500;
            color: #888888;
        }
        input{
            max-width: 60px;
            padding: 9px 16px;
            border: 1px solid #888888;
            border-radius: 50px;
            &::placeholder{
                text-align: center;
            }
        }
    }
}


