.tabs-block {
	margin: 46px 0px 0 0px;
	@media (max-width: $md3+px){
		margin-top: 35px;
	}
	// .tabs-block__nav
	&__nav {
		display: inline-flex;
		margin: 0px -2px;
		justify-content: center;
		border-radius: 50px;
		background-color: #ECE8E4;
	}
	// .tabs-block__item
	&__item {
		padding: 18px 72px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50px;
		cursor: pointer;
		transition: .3s ease all;
		font-weight: 700;
		font-size: 1.125rem;
		font-family: 'Campton', sans-serif;
		color: #B79172;
		transition: .3s ease all;
		@media (max-width: $md3+px){
			font-size: 1rem;
			padding: 15px 50px;
		}
		&._active {
			background-color: #56685F;
			transition: .3s ease all;
			color: #ffffff;
		}
	}
	// .tabs-block__body
	&__body {
		margin: 57px 0 0 0;
		background: #F4F1EF;
	}
	// .tabs-block__block
	&__block {
	}
}
