<header class="header">
	<ul class="header__menu-burger">
		<li><a href="shop.html">SHOP</a></li>
		<li><a href="sunday-show.html">PODCASTS</a></li>
		<li class="menu-trigger"><p>ABOUT</p></li>
	</ul>
	<div class="icon-menu"><span></span>
	</div>
	<ul class="header__menu">
		<li><a href="shop.html" class="header__menu-link header__mobile-link">Shop</a></li>
		<li><a href="sunday-show.html" class="header__menu-link header__mobile-link">Podcast</a></li>
		<li><a href="personal-info.html" class="header__menu-link header__mobile-link">Account</a></li>
		<li><a href="about-us.html" class="header__menu-link">Who we are</a></li>
		<li><a href="#" class="header__menu-link">Protocols</a></li>
		<li><a href="contact-us.html" class="header__menu-link">Contact us</a></li>
		<li><a href="faq.html" class="header__menu-link">FAQ</a></li>
		<div class="menu-trigger-close"></div>
		<div class="header__menu-privacy-links-wrapper">
			<div class="header__menu-privacy-links">
				<a href="">Privacy Policy</a>
				<a href="">Refund Policy</a>
				<a href="">Terms of service</a>
			</div>
		</div>
	</ul> 
	<a href="index.html" class="header__logo">
		<img src="img/logo.svg" alt="logo">
	</a>
	<ul class="header__account">
		<li class="account-link"><a href="personal-info.html" class="header__menu-link account-link">Account</a></li>
		<li><a href="#" class="header__menu-link"><img src="img/search.svg" alt=""></a></li>
		<li><a href="#card-modal" class="main-card-modal header__menu-link" data-effect="mfp-move-horizontal mfp-bag"><img src="img/bag.svg" alt=""></a></li>
	</ul>
</header>
@@include('_bag-modal.html',{})