<div class="personal-info__left">
    <ul>
        <h2>Account</h2>
        <li><a href="personal-info.html" class="personal-menu-link">Personal Information </a></li>
        <li><a href="shopping-history.html" class="personal-menu-link">Shopping History</a></li>
        <li><a href="saved-addresses.html" class="personal-menu-link">Saved Addresses</a></li>
        <li><a href="#logout-modal" class="logout-modal personal-menu-link" data-effect="mfp-move-horizontal logout">Log Out</a></li>
    </ul>
</div>

<div id="logout-modal" class="mfp-hide logout-menu-modal">
    <img src="img/logout-ico.svg" alt="">
    <p>Do you want to log out from account?</p>
    <div class="logout-button-wrapper">
        <a href="" class="button logout-button">Cancel</a>
        <a href="" class="button logout-button-clear">Log out</a>
    </div>
</div>